
.restaurantselected{
    background-repeat: no-repeat;
    height:310px;
    width:100%;
    display: flex;
    align-items: flex-end;
}

.restaurantselected1{
    background-image: url("images/La\ palette\ du\ goût.jpg"); 
    background-size: cover;
    background-position: center;
}

.restaurantselected2{
    background-image: url("images/La\ note\ enchantée.jpg");
    background-size: cover;
    background-position: center;
}

.restaurantselected3{
    background-image: url("images/A\ la\ française.jpg");
    background-size:cover;
    background-position: center;
}

.restaurantselected4{
    background-image: url("images/Le\ délice\ des\ sens.jpg");
    background-size: cover;
    background-position: center;  
}

.restaurantselected_titre{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
    padding-right: 25px;
    padding-left: 15px;
    background-color: whitesmoke;
    border-top-right-radius: 40px;
    border-top-left-radius:40px ;
    
    h1{
        font-family: "shrikhand";
        font-size: 30px;  
    }

}

.EntréesPlatsDesserts{
    background-color: whitesmoke;
    padding-bottom: 20px;
    
    .EntréesPlatsDesserts_underline{
        padding-top: 20px;
        border-top: solid $third_color;
        width: 14%;
        margin-left:19px
    }
    h3{
        margin:0px 19px 5px 19px;
        font-family:"robotoregular";
        font-weight: lighter;
        font-size: 20px;    
    }

    .button_EntréesPlatsDesserts{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 18px;
        margin:0px 19px 15px 19px; 
        box-shadow: 5px 5px 9px lightgrey;
        overflow: hidden;
        
        &:hover{
            cursor: pointer;

            .check {
                transform: translateX(-70px);
                -moz-transform: translateX(-70px);
                -webkit-transform: translateX(-70px);
            }

            .price1{
                transform: translateX(-70px);
                -moz-transform: translateX(-70px);
                -webkit-transform: translateX(-70px);  
            }
            
            .fa-check-circle{
                    transform: rotate(360deg);
                    -moz-transform: rotate(360deg); 
                    -webkit-transform: rotate(360deg);         
            }
            .nomplat{
                width: 62%;     
            }

            .button_EntréesPlatsDesserts_accompagnement{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;;       
            }   
        }           
    }

    .button_EntréesPlatsDesserts_titre{
        margin-bottom:2px;
        margin-left:10px ;
        font-weight: bold;
        font-size: 17px;
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: break-word;              
    }

    .button_EntréesPlatsDesserts_accompagnement{
        margin-top: 2px;
        margin-left: 10px;
        font-family: "robotoregular";
        font-size: 14px;
        width: 95%;
        overflow: visible;
        white-space: wrap;
        word-break: keep-all;   
    }

    .priceandcheck{   
        position: relative;
        display: flex;
        margin-left: -75px;
        right:0%;
        transform: translateX(70px);
        -moz-transform: translateX(70px);
        -webkit-transform: translateX(70px);  
    }

    .price1{
        display:flex;
        align-items: flex-end;
        font-weight: bold;
        width: 50px;
        transition: transform 0.9s ease-out 0.15s; 
        -moz-transition: transform 0.9s ease-out 0.15s;
        -webkit-transition: transform 0.9s ease-out 0.15s;
        margin-left: 30px;
        background-color: white;   
    }

    .check{
        background-color: $third_color;
        border-radius: 0px 13px 13px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:70px;
        font-size:22px;
        transition: transform 0.9s ease-out;
        -moz-transition: transform 0.9s ease-out;
        -webkit-transition: transform 0.9s ease-out;
        
        .fa-check-circle{
            background-color: $third_color;
            color:white;
            transition: transform 0.9s ease-out;
            -moz-transition: transform 0.9s ease-out;
            -webkit-transition: transform 0.9s ease-out;
            transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
        }  
    }
}

    .commander{
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 20px;

        .btn_commander{
            width:45%;
        }
    }

    .nomplat{ 
        width: 100%;
        transition: width 1.05s ease-out;
        -moz-transition: width 1.05s ease-out;
        -webkit-transition: width 1.05s ease-out;
        overflow: hidden;        
    }
