@charset "UTF-8";
@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular.ttf");
}
/**
 * Basic style for copy text
 */
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

header {
  text-align: center;
}
header h2 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.headermenu {
  display: flex;
  justify-content: center;
}
.headermenu .headermenu_arrow {
  position: absolute;
  font-size: 22px;
  left: 20px;
  top: 22px;
}

footer {
  font-family: "robotoregular";
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer h4 {
  font-size: 18px;
  font-family: "shrikhand";
  margin-left: 20px;
  font-weight: lighter;
}
footer p {
  margin-left: 20px;
}
footer a {
  color: white;
}
footer .fas {
  margin-right: 10px;
}
footer .fa-handshake {
  transform: rotate(-45deg);
  font-size: 12px;
}

#loadingspinner_text {
  margin: auto;
  background-color: white;
  transition: all;
  animation: heartbeat 1.5s ease 2 2s, widthscale 2s linear 1;
  transform-origin: top;
}
#loadingspinner_text a {
  animation: heartbeat 1.5s ease 2 2s;
}

#loadingspinner {
  animation: trans 5s ease;
}

.opac {
  opacity: 1;
  animation: opacite 7s linear 1;
}

@keyframes widthscale {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.9);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1.9);
    color: black;
  }
  10% {
    transform: scale(2);
    color: #9356DC;
  }
  20% {
    transform: scale(1.9);
    color: black;
  }
  30% {
    transform: scale(2);
    color: #9356DC;
  }
  80% {
    transform: scale(1.9);
    color: black;
  }
  100% {
    transform: scale(1.9);
    color: black;
  }
}
@keyframes trans {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(300px);
  }
  60% {
    transform: translateY(300px);
  }
  80% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacite {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button_Entrées1 {
  animation: displayprogressmenu 0.5s linear forwards;
}

.button_Entrées2 {
  animation: displayprogressmenu 1s linear forwards;
}

.button_Entrées3 {
  animation: displayprogressmenu 1.5s linear forwards;
}

.button_Entrées4 {
  animation: displayprogressmenu 2s linear forwards;
}

.button_Plats1 {
  animation: displayprogressmenu 2.5s linear forwards;
}

.button_Plats2 {
  animation: displayprogressmenu 3s linear forwards;
}

.button_Plats3 {
  animation: displayprogressmenu 3.5s linear forwards;
}

.button_Desserts1 {
  animation: displayprogressmenu 4s linear forwards;
}

.button_Desserts2 {
  animation: displayprogressmenu 4.5s linear forwards;
}

.button_Desserts3 {
  animation: displayprogressmenu 5s linear forwards;
}

@keyframes displayprogressmenu {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.43;
  }
  80% {
    opacity: 0.73;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  background-color: #9356DC;
  background-image: linear-gradient(to bottom right, #ff79DA, rgba(255, 255, 255, 0));
  color: white;
  padding: 12px 18px 12px 18px;
  border-radius: 40px;
  border: none;
  box-shadow: 2px 3px 8px lightgrey;
  transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -webkit-transition: background-color 0.7s ease-out;
  transition: box-shadow 0.7s ease-out;
  -moz-transition: box-shadow 0.7s ease-out;
  -webkit-transition: box-shadow 0.7s ease-out;
}
.btn:hover {
  background-color: #b389e7;
  box-shadow: 2px 3px 8px black;
}

.fa-heart_empty, .restaurantselected_heart-empty {
  cursor: pointer;
  -moz-transition: color 0.7s ease-out;
  -webkit-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
.fa-heart_empty:hover, .restaurantselected_heart-empty:hover {
  color: #9356DC;
}

.fa-heart_fill, .restaurantselected_heart-fill {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#ff79DA));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  opacity: 0;
  -moz-transition: opacity 0.7s ease-out;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}
.fa-heart_fill:hover, .restaurantselected_heart-fill:hover {
  opacity: 1;
}

.restaurantselected_heart-empty {
  position: absolute;
  font-size: 28px;
  right: 25px;
  top: 307px;
}

.restaurantselected_heart-fill {
  position: absolute;
  font-size: 28px;
  right: 25px;
  top: 307px;
  color: #9356DC;
}

.fa-heart_empty {
  color: #424242;
}

.presentation {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.presentation .location {
  background-color: #DCDCDC;
  border-top: solid silver;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.presentation .location .fas {
  margin-right: 12px;
}
.presentation h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.presentation p {
  font-size: 15px;
  color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: "robotoregular";
}

.btn_presentation {
  margin-bottom: 20px;
}

.fonctionnement {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}
.fonctionnement h3 {
  font-size: 23px;
  text-align: left;
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 15px;
}
.fonctionnement p {
  background-color: whitesmoke;
  font-weight: bolder;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  margin: 10px 25px 10px 25px;
  box-shadow: 5px 5px 5px lightgrey;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  margin-left: -30px;
}
.button .button_fonctionnement_chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  width: 36.1px;
  height: 25px;
  border-radius: 50%;
  left: 36px;
  background-color: #9356DC;
}
.button .fas {
  position: relative;
  left: -50px;
  margin-right: -25px;
  color: grey;
}
.button .fa-mobile-alt {
  left: -45px;
  color: grey;
}
.button .fa-store {
  left: -46px;
  color: #9356DC;
}

#restaurants {
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 40px;
}

h3 {
  margin-left: 20px;
  font-size: 23px;
}

.card_restaurants {
  position: relative;
  margin: 0px 20px 20px 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 10px lightgray;
}
.card_restaurants img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card_restaurants .menu {
  display: flex;
  justify-content: space-between;
  margin: -10px 25px 0px 15px;
}
.card_restaurants p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}
.card_restaurants .Quartier {
  font-weight: lighter;
}
.card_restaurants .far {
  position: absolute;
  font-size: 23px;
  right: 27px;
}
.card_restaurants .fas {
  position: absolute;
  font-size: 23px;
  right: 27px;
  color: #9356DC;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menu_image {
  position: relative;
}
.menu_image .menu_image_texte {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #2e8872;
  padding: 7px 11px 7px 11px;
  border-radius: 3px;
  font-size: 14px;
}

.restaurantselected {
  background-repeat: no-repeat;
  height: 310px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.restaurantselected1 {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-position: center;
  -webkit-background-position: center;
  -webkit-background-image: url(images/Lapalettedugout.jpg);
  -moz-background-image: url(images/Lapalettedugout.jpg);
  background-image: url(images/Lapalettedugout.jpg);
}

.restaurantselected2 {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-position: center;
  -webkit-background-position: center;
  -webkit-background-image: url(images/Lanoteenchantee.jpg);
  -moz-background-image: url(images/Lanoteenchantee.jpg);
  background-image: url(images/Lanoteenchantee.jpg);
}

.restaurantselected3 {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-position: center;
  -webkit-background-position: center;
  -webkit-background-image: url(images/Alafrancaise.jpg);
  -moz-background-image: url(images/Alafrancaise.jpg);
  background-image: url(images/Alafrancaise.jpg);
}

.restaurantselected4 {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-position: center;
  -webkit-background-position: center;
  -webkit-background-image: url(images/Ledelicedessens.jpg);
  -moz-background-image: url(images/Ledelicedessens.jpg);
  background-image: url(images/Ledelicedessens.jpg);
}

.restaurantselected_titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-right: 25px;
  padding-left: 15px;
  background-color: whitesmoke;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.restaurantselected_titre h1 {
  font-family: "shrikhand";
  font-size: 30px;
  padding-right: 35px;
}

.EntréesPlatsDesserts {
  background-color: whitesmoke;
  padding-bottom: 20px;
}
.EntréesPlatsDesserts .EntréesPlatsDesserts_underline {
  padding-top: 20px;
  border-top: solid #99e2d0;
  width: 14%;
  margin-left: 19px;
}
.EntréesPlatsDesserts h3 {
  margin: 0px 19px 5px 19px;
  font-family: "robotoregular";
  font-weight: lighter;
  font-size: 20px;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 18px;
  margin: 0px 19px 15px 19px;
  box-shadow: 5px 5px 9px lightgrey;
  overflow: hidden;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover {
  cursor: pointer;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover .check {
  -moz-transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  transform: translateX(-70px);
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover .price1 {
  -moz-transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  transform: translateX(-70px);
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover .fa-check-circle {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover .nomplat {
  width: 62%;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts:hover .button_EntréesPlatsDesserts_accompagnement {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts_titre {
  margin-bottom: 2px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
}
.EntréesPlatsDesserts .button_EntréesPlatsDesserts_accompagnement {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "robotoregular";
  font-size: 14px;
  width: 95%;
  overflow: visible;
  word-break: keep-all;
}
.EntréesPlatsDesserts .priceandcheck {
  position: relative;
  display: flex;
  margin-left: -75px;
  right: 0;
  -moz-transform: translateX(70px);
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
}
.EntréesPlatsDesserts .price1 {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  width: 50px;
  -moz-transition: transform 0.9s ease-out 0.15s;
  -webkit-transition: transform 0.9s ease-out 0.15s;
  transition: transform 0.9s ease-out 0.15s;
  margin-left: 30px;
  background-color: white;
}
.EntréesPlatsDesserts .check {
  background-color: #99e2d0;
  border-radius: 0px 13px 13px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  font-size: 22px;
  -moz-transition: transform 0.9s ease-out 0s;
  -webkit-transition: transform 0.9s ease-out 0s;
  transition: transform 0.9s ease-out 0s;
}
.EntréesPlatsDesserts .check .fa-check-circle {
  background-color: #99e2d0;
  color: white;
  -moz-transition: transform 0.9s ease-out 0s;
  -webkit-transition: transform 0.9s ease-out 0s;
  transition: transform 0.9s ease-out 0s;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.commander {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 20px;
}
.commander .btn_commander {
  width: 45%;
}

.nomplat {
  width: 100%;
  -moz-transition: width 1.05s ease-out 0s;
  -webkit-transition: width 1.05s ease-out 0s;
  transition: width 1.05s ease-out 0s;
  overflow: hidden;
}

@media (min-width: 481px) and (max-width: 767px) {
  .card_restaurantsligne {
    margin: auto;
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  .fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin: auto;
  }

  #restaurants h3 {
    text-align: center;
  }

  .card_restaurantsligne {
    display: flex;
    justify-content: center;
  }

  .card_restaurants {
    width: 35%;
  }

  .button {
    width: 60%;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 968px) {
  .presentation h1 {
    font-size: 36px;
  }

  .presentation p {
    font-size: 25px;
  }

  .button {
    margin: auto;
  }

  .fonctionnement h3, #restaurants h3 {
    font-size: 33px;
  }

  .fonctionnement p {
    font-size: 20px;
  }

  header h2 {
    font-size: 42px;
  }

  footer h4 {
    font-size: 32px;
  }

  footer p {
    font-size: 20px;
  }

  .EntréesPlatsDesserts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .restaurantselected_titre {
    justify-content: center;
  }

  .button_EntréesPlatsDesserts {
    min-width: 70%;
  }

  .restaurantselected_heart-empty {
    position: absolute;
    right: 30%;
    top: 322px;
  }

  .restaurantselected_heart-fill {
    position: absolute;
    right: 30%;
    top: 322px;
  }

  .btn_commander {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
