@font-face{
    font-family:"shrikhand";
    src:url('fonts/Shrikhand-Regular.ttf');
}
@font-face{
    font-family:"roboto";
    src:url("fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family:"robotoregular";
    src:url("fonts/Roboto-Regular.ttf");
}

$primary_color:#9356DC;
$secondary_color:#ff79DA;
$third_color:#99e2d0;
$shadow_color:lightgrey;



a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color:$primary_color;
    background-image:linear-gradient(to bottom right,$secondary_color,rgba(255,255,255, 0));
    color:white;
    padding: 12px 18px 12px 18px;
    border-radius: 40px;
    border:none ;
    box-shadow: 2px 3px 8px $shadow_color;
    transition: background-color 0.7s ease-out;
    transition: box-shadow 0.7s ease-out;
    &:hover{
        background-color: lighten($color: $primary_color, $amount: 12);
        box-shadow:2px 3px 8px black;
    }
}

.fa-heart_empty, .restaurantselected_heart-empty{
    cursor: pointer;
    transition: all 0.7s ease-out ;

 
    &:hover{
        color:$primary_color;
    }
}

.fa-heart_fill, .restaurantselected_heart-fill{
    cursor: pointer;
    opacity: 0;
    transition: all 0.7s ease-out;
        &:hover{
        opacity: 1;
    }
}

header{
    text-align: center;
    & h2{
        font-family: "shrikhand",Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 32px;
        margin-top: 8px;
        margin-bottom: 8px;
    }    
}

body{
    font-family:"roboto", Arial, Helvetica, sans-serif;
    width:100%;
    margin:0;
    
}

footer{
    font-family:"robotoregular";
    background-color: rgba(0, 0, 0, 0.780);
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    & h4{
        font-size: 18px;
        font-family: "shrikhand";
        margin-left: 20px;
        font-weight: lighter;
    }
    p{
        margin-left:20px;
    }
    a{
        color: white;
    }

    .fas{
        margin-right: 10px;
    }

    .fa-handshake{
        transform: rotate(-45deg);
        font-size:12px;
    }
}

.presentation{
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    .location{
        background-color:#DCDCDC ;
        border-top: solid silver;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;

    }
    .location .fas{
        margin-right: 12px;
    }

    h1{
        font-size:26px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    p{
        font-size:15px;
        color: grey;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

.btn_presentation{
    margin-bottom: 20px;
    
}

.fonctionnement{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;

    h3{
        font-size: 23px;
        text-align: left;
        margin-left: 10px;
        margin-top: 35px;
        margin-bottom: 15px;
    }
       
    p{
        background-color: whitesmoke;
        font-weight: bolder;
        border-radius: 18px;
        width: 100%;
        padding:30px;
        margin:10px 20px 10px 20px;
        box-shadow:5px 5px 13px whitesmoke; 
    }    
}

.button{
    display:flex;
    justify-content:flex-start;
    align-content: center;
    align-items: baseline;
    margin-left: -30px;

    .button_fonctionnement_chiffre{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        text-align: center;
        width:36.1px;
        height:25px;
        border-radius: 50%;
        left:36px;
        background-color:$primary_color;
    }

    .fas{
        position: relative;
        left: -50px;
        margin-right: -25px;
    }

    .fa-mobile-alt{
        left: -45px;
    }

    .fa-store{
        left: -46px;
    }
}

#restaurants{
    background-color:  whitesmoke;
    padding-top: 30px;
    padding-bottom: 40px;
}

h3{
    margin-left: 10px;
    font-size: 23px;
}
.card_restaurants{
    margin-bottom: 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray ;
    
    img{
        width:100%;
        height:180px;
        object-fit: cover;
    }    
    
    .menu{
        display: flex;
        justify-content: space-between;
        margin: -10px 25px 0px 15px;   

    }

    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bolder;
    }

    .Quartier{
        font-weight: lighter;
    }

    .far{
        position: absolute;
        font-size: 23px;  
        right:47px;
        

    }

    .fas{
        position:absolute;
        font-size: 23px;
        right:47px; 
        color:$primary_color;
        background: -webkit-gradient(linear, left top, left bottom, from($primary_color), to($secondary_color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

         
    }
}

.menu_image{
    position:relative;

    .menu_image_texte{
        position:absolute;
        top:15px;
        right:15px;
        background-color: $third_color;
        color:#2e8872;
        padding: 7px 11px 7px 11px;
        border-radius: 3px;
        font-size:14px;
    }
}
/*---------------------PAGE RESTAURANTS------------------*/



.entête{
    display: flex;
    justify-content: center; 

    .entête_flèche{
        position : absolute;
        font-size:22px;
        left:20px;
        top:22px;       
    }
}
.restaurantselected{
    
    background-repeat: no-repeat;
    height:310px;
    width:100%;
    display: flex;
    align-items: flex-end;
}

.restaurantselected1{
    background-image: url("images/La\ palette\ du\ goût.jpg"); 
    background-size: contain;
}

.restaurantselected2{
    background-image: url("images/La\ note\ enchantée.jpg");
    background-size: cover;
    background-position: center;
}

.restaurantselected3{
    background-image: url("images/A\ la\ française.jpg");
    background-size:cover;
    background-position: center;
}

.restaurantselected4{
    background-image: url("images/Le\ délice\ des\ sens.jpg");
    background-size: contain;
    
}

.restaurantselected_titre{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
    padding-right: 25px;
    padding-left: 15px;
    background-color: whitesmoke;
    border-top-right-radius: 40px;
    border-top-left-radius:40px ;
    
    h1{
        font-family: "shrikhand";
        font-size: 30px;  
    }

    .restaurantselected_heart-empty{
        position: absolute;
        font-size:28px;
        right: 25px;
        top :307px;
    }
    .restaurantselected_heart-fill{
        position: absolute;
        font-size: 28px;
        right: 25px;
        top: 307px;
        color:$primary_color;
        background: -webkit-gradient(linear, left top, left bottom, from($primary_color), to($secondary_color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

}

.EntréesPlatsDesserts{
    background-color: whitesmoke;
    padding-bottom: 20px;
    
    .EntréesPlatsDesserts_underline{
        padding-top: 20px;
        border-top: solid $third_color;
        width: 14%;
        margin-left:19px
    }
    h3{
        margin:0px 19px 5px 19px;
        font-family:"robotoregular";
        font-weight: lighter;
        font-size: 20px;    
    }

    .button_EntréesPlatsDesserts{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 18px;
        margin:0px 19px 15px 19px; 
        box-shadow: 5px 5px 9px lightgrey;
        overflow: hidden;
        transition: all 1s ease-out;
        
        
        &:hover{
            cursor: pointer;
            .priceandcheck {
                transform: translateX(0px);
            }
            .fa-check-circle{
                    transform: rotate(-360deg);
                      
            }
        }
        
             
    }

    
    .button_EntréesPlatsDesserts_titre{
        margin-bottom:2px;
        margin-left:10px ;
        font-weight: bold;
        font-size: 17px;
       
    }
    .button_EntréesPlatsDesserts_accompagnement{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2px;
        margin-left: 10px;
        font-family: "robotoregular";
        font-size: 14px;
        width: 95%;
       
    }

    

    .priceandcheck{
        
        position: relative;
        display: flex;
        width: 120px;
        right:0%;
        transition: transform 1s ease-out;
        transform: translateX(70px);
       
    }

    .price1{
        display:flex;
        align-items: flex-end;
        font-weight: bold;
        width: 50px;
        
       
        
    }

    .price{
        display:flex;
        align-items:flex-end;
        margin-right: 25px;
        font-weight: bold;
    }

    .check{
        background-color: $third_color;
        border-radius: 0px 13px 13px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:70px;
        font-size:22px;
       
        .fa-check-circle{
            transition: transform 1s ease-out;
            transform: rotate(0deg);
        }  
    }
}

    .commander{
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 20px;

        .btn_commander{
            width:45%;

        }
    }


        
        
    








