
.loadingspinner_text{
    margin: auto;
    background-color: white;
    animation: heartbeat 1.5s ease 2 2s, chgt-couleur 1.5s ease 2 2s normal,widthscale 2s linear 1;
    transform-origin: top;
  }

  .loadingspinner{
    animation: trans 5s ease ;
  }

  .opac{
    opacity:1;
    animation: opacite 7s linear 1;
  }

  @keyframes chgt-couleur{
    0%   {color:black;}
   10%  {color:$primary_color;}
   20%  {color:black;}
   30%  {color:$primary_color;}
   80%  {color:black;}
   100% {color:black;}
 }

 @keyframes widthscale{
    0%   {transform: scale( 1.20 );}
    50%   {transform: scale( 1.60 );}
    100%   {transform: scale( 1.90 );}
 }
  
 @keyframes heartbeat{
   0%   {transform: scale( 1.90 );}
   10%  {transform: scale( 2 );}
   20%  {transform: scale( 1.90 );}
   30%  {transform: scale( 2 );}
   80%  {transform: scale( 1.90);}
   100% {transform: scale( 1.90 );}
 }

 @keyframes trans{
  0%  { transform:translateY(0) }
  40% { transform:translateY(300px) }
  60% { transform:translateY(300px) }
  80% { transform:translateY(300px) }
  100%{ transform:translateY(0) }
}

@keyframes opacite{
    0%  {opacity:0;}
   10%  {opacity:0;}
   20%  {opacity:0;}
   30%  {opacity:0;}
   80%  {opacity:0;}
   90%  {opacity:0;}
   100% {opacity:1;}
}

.button_Entrées{

  animation: displayprogressmenu 1.5s linear forwards;
}

.button_Plats{

  animation: displayprogressmenu 4s linear forwards;
}

.button_Desserts{
  animation: displayprogressmenu 6.5s linear forwards;
}

@keyframes displayprogressmenu{
  0%  {opacity:0;}
  20% {opacity:0;}
  50% {opacity:0;}
  70% {opacity:0.43;}
  80% {opacity:0.73;}
  100%{opacity:1;}
}
 