
  #loadingspinner_text{
    margin: auto;
    background-color: white;
    transition:all;
    animation:heartbeat 1.5s ease 2 2s, widthscale 2s linear 1;
    transform-origin: top;
    
        a {
          animation:heartbeat 1.5s ease 2 2s;
        }
  }

  #loadingspinner{
    animation: trans 5s ease ;
  }

  .opac{
    opacity:1;
    animation: opacite 7s linear 1;
  }

 @keyframes widthscale{
    0%   {transform: scale( 1.20 );}
    50%  {transform: scale( 1.60 );}
    100% {transform: scale( 1.90 );}
 }
  
 @keyframes heartbeat{
   0%   {
      transform: scale( 1.90 );
      color:black;
  }
   10%  {    
      transform: scale( 2 );
      color:$primary_color;
     }
   20%  {
      transform: scale( 1.90 );
      color:black;
    }
   30%  {
      transform: scale( 2 );
      color:$primary_color;
    }
   80%  {
      transform: scale( 1.90);
      color:black;
    }
   100% {
      transform: scale( 1.90 );
      color:black;
    }
 }

 @keyframes trans{
  0%  { transform:translateY(0) }
  40% { transform:translateY(300px) }
  60% { transform:translateY(300px) }
  80% { transform:translateY(300px) }
  100%{ transform:translateY(0) }
}

@keyframes opacite{
    0%  {opacity:0;}
   10%  {opacity:0;}
   20%  {opacity:0;}
   30%  {opacity:0;}
   80%  {opacity:0;}
   90%  {opacity:0;}
   100% {opacity:1;}
}

.button_Entrées1{
  animation: displayprogressmenu 0.5s linear forwards;
}
.button_Entrées2{
  animation: displayprogressmenu 1s linear forwards;
}
.button_Entrées3{
  animation: displayprogressmenu 1.5s linear forwards;
}
.button_Entrées4{
  animation: displayprogressmenu 2s linear forwards;
}

.button_Plats1{
  animation: displayprogressmenu 2.5s linear forwards;
}
.button_Plats2{
  animation: displayprogressmenu 3s linear forwards;
}
.button_Plats3{
  animation: displayprogressmenu 3.5s linear forwards;
}

.button_Desserts1{
  animation: displayprogressmenu 4s linear forwards;
}
.button_Desserts2{
  animation: displayprogressmenu 4.5s linear forwards;
}
.button_Desserts3{
  animation: displayprogressmenu 5s linear forwards;
}

@keyframes displayprogressmenu{
  0%  {opacity:0;}
  20% {opacity:0;}
  50% {opacity:0;}
  70% {opacity:0.43;}
  80% {opacity:0.73;}
  100%{opacity:1;}
}
 