// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin backgroundimagemenu( $img, $background-size, $background-position) {
    background-size: $background-size;
    -moz-background-size: $background-size;
    -webkit-background-size: $background-size;
    background-position: $background-position;
    -moz-background-position: $background-position;
    -webkit-background-position: $background-position;
    -webkit-background-image: url(images/#{$img});
    -moz-background-image: url(images/#{$img});
    background-image: url(images/#{$img});
}

@mixin transform ($transforms){
    -moz-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
    transform: -webkit-$transforms;
    -webkit-transform:-webkit-$transforms;


}

@mixin transition ($property, $duration, $time-function, $delay){
    -moz-transition: $property $duration $time-function $delay;
    -webkit-transition: $property $duration $time-function $delay;
    transition: $property $duration $time-function $delay;
    transition: -webkit-$property $duration $time-function $delay;
    -webkit-transition:-webkit-$property $duration $time-function $delay;
}


